* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(18, 18, 18, 0.8); /* Background from kitty config, with some transparency */
    border-bottom: 3px solid #383838; /* color8 from kitty config for a subtle border */
    color: #fffaf3; /* foreground from kitty config */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #383838; /* Using color8 as a darker theme */
}

window#waybar.chromium {
    background-color: #121212; /* Consistent with the background */
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #fffaf3; /* foreground from kitty config for hover effect */
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #ffd141; /* color11 from kitty config */
}

#workspaces button.urgent {
  color: #ff273f; /* color9 from kitty config - bright red */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #fffaf3; /* foreground from kitty config */
}

#workspaces button.active {
  background-color: #383838; /* color8 for active workspace background */
  color: #ffffff; /* white for active workspace text */
  border-radius: 5px; /* Optional: Rounded corners */
}

#workspaces button:not(.active) {
  background-color: transparent; /* Makes inactive workspaces transparent */
}

#workspaces button:hover {
    background: rgba(255, 250, 243, 0.2); /* foreground with some transparency for hover */
}

#workspaces button.focused {
    background-color: #383838; /* color8 for focused workspace background */
    box-shadow: inset 0 -3px #fffaf3; /* foreground from kitty config */
}

#workspaces button.urgent {
    background-color: #ff000f; /* color1 from kitty config */
}

#mode {
    background-color: #383838; /* color8 from kitty config */
    box-shadow: inset 0 -3px #fffaf3; /* foreground from kitty config */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #fffaf3; /* foreground from kitty config */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #383838; /* color8 from kitty config */
}

#battery {
    background-color: #ffffff; /* white from kitty config */
    color: #121212; /* Background from kitty config */
}

#battery.charging, #battery.plugged {
    color: #121212; /* Background from kitty config */
    background-color: #8ce00a; /* color2 from kitty config */
}

@keyframes blink {
    to {
        background-color: #ffffff; /* white from kitty config */
        color: #121212; /* Background from kitty config */
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #ff000f; /* color1 from kitty config */
    color: #fffaf3; /* foreground from kitty config */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #ff000f; /* color1 from kitty config */
    color: #fffaf3; /* foreground from kitty config */
}

#power-profiles-daemon.balanced {
    background-color: #008df8; /* color4 from kitty config */
    color: #fffaf3; /* foreground from kitty config */
}

#power-profiles-daemon.power-saver {
    background-color: #8ce00a; /* color2 from kitty config */
    color: #121212; /* background from kitty config */
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #abe05a; /* color10 from kitty config */
    color: #121212; /* background from kitty config */
}

#memory {
    background-color: #9a5feb; /* color13 from kitty config */
}

#disk {
    background-color: #ffb900; /* color3 from kitty config */
}

#backlight {
    background-color: #00d7eb; /* color6 from kitty config */
}

#network {
    background-color: #008df8; /* color4 from kitty config */
}

#network.disconnected {
    background-color: #ff000f; /* color1 from kitty config */
}

#pulseaudio {
    background-color: #ffd141; /* color11 from kitty config */
    color: #121212; /* background from kitty config */
}

#pulseaudio.muted {
    background-color: #383838; /* color8 from kitty config */
    color: #121212;/* Background from kitty config*/
}

#wireplumber {
    background-color: #67ffef; /* color14 from kitty config */
    color: #121212; /* background from kitty config */
}

#wireplumber.muted {
    background-color: #ff000f; /* color1 from kitty config */
}

#custom-media {
    background-color: #6c43a5; /* color5 from kitty config */
    color: #fffaf3;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #6c43a5; /* color5 from kitty config */
}

#custom-media.custom-vlc {
    background-color: #ffb900; /* color3 from kitty config */
}

#temperature {
    background-color: #ffb900; /*color3 from kitty config*/
}

#temperature.critical {
    background-color: #ff000f; /* color1 from kitty config */
}

#tray {
    background-color: #008df8; /* color4 from kitty config */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff000f; /* color1 from kitty config */
}

#idle_inhibitor {
    background-color: #383838; /* color8 from kitty config */
}

#idle_inhibitor.activated {
    background-color: #ffffff; /* white from kitty config */
    color: #121212; /* background from kitty config */
}

#mpd {
    background-color: #6c43a5;/* color5 from kitty config */
    color: #fffaf3; /* foreground from kitty config*/
}

#mpd.disconnected {
    background-color: #ff000f; /* color1 from kitty config */
}

#mpd.stopped {
    background-color: #383838; /* color8 from kitty config */
}

#mpd.paused {
    background-color: #abe05a;/* color10 from kitty config*/
}

#language {
    background: #0092ff; /* color12 from kitty config */
    color: #9a5feb; /* color13 from kitty config */
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #abe05a; /* color10 from kitty config */
    color: #121212; /* background from kitty config */
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(18, 18, 18, 0.2); /* background with some transparency */
}

#scratchpad {
    background: rgba(18, 18, 18, 0.2); /* Background with some transparency */
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #fffaf3; /* foreground from kitty config*/
}

#privacy-item.screenshare {
    background-color: #ffb900; /* color3 from kitty config */
}

#privacy-item.audio-in {
    background-color: #8ce00a; /* color2 from kitty config */
}

#privacy-item.audio-out {
    background-color: #008df8; /* color4 from kitty config */
}
