/* wofi-style.css */
* {
  font-family: "FiraCode Nerd Font", "Adwaita Sans", sans-serif;
  font-size: 14px;
}

window {
  border: 2px solid #1793d1;
  border-radius: 10px;
  background-color: #0a0a0a;
}

#outer-box {
  background-color: #0a0a0a;
}

#input {
  background-color: #333333;
  color: #d6d3d1;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 8px;
}

#scroll {
  background-color: #0a0a0a;
}

#inner-box {
  background-color: #0a0a0a;
}

#entry {
  background-color: #0a0a0a;
  color: #d6d3d1;
  padding: 6px 12px;
  border-radius: 6px;
  margin: 2px 8px;
}

#entry:selected {
  background-color: #1793d1;
  color: #ffffff;
}

#text {
  color: #d6d3d1;
}

#text:selected {
  color: #ffffff;
}

img {
  opacity: 1;
}
