[Unit]
Description=Check for Available Upgrades with Paru and Pacman 

[Service]
Type=oneshot
ExecStart=/usr/local/bin/package-available-upgrades.sh --update
