[Unit]
Description=Updates /var/lib/available-upgrades/.package-available-upgrades
[Timer]
OnBootSec=15min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
